extends layout

block content
  div(id='panel')
    div(id='request')
      a(href='/')
        img(src='images/index.png')
    div(id='logo')
      img(src='images/logo.png')
  h2 Keeping At-Risk People Home
  p Save My Errands is a conceptual idea for a webapp that helps the elderly and
  p other at-risk populations get their errands finished without leaving home.
  p They can post their errands on the provided map, then volunteers can select
  p requests near then and carry out the errands on their behalf.
  p
  a(href='https://github.com/bqr407/COVID-19-Errand-Helper')
    p View on Github
